<!DOCTYPE html>
<html>
    <head>
        <title>Social Membrane</title>
    </head>

    <body>
   <nav>
 
        <a href="/">Home</a>
        <a href="{% url 'socialauth_begin' 'twitter' %}">Twitter</a>
      
        {% if user.is_authenticated %}
        {{user}}
         <a href ="/logout"> Logout </a>

        
        {% else %}

        <a href = "/register"> Register </a>
         <a href = "/login"> login </a>
         {% endif %}





   		
 
</nav>

    {% block content %}{% endblock %}
    </body>
</html>